%html
  %head
    = partial "/layouts/partials/head"
  %body
    = partial "/layouts/layout-contents"
    = yield_content :github_ribbon
    %header.app-header{ :role => "banner", :id => "top" }
      .container
        = yield_content :logo

      - if current_page.data.hero == true
        = partial "/layouts/partials/hero"

    .app-content
      = yield

    %footer.app-footer
      = partial "/layouts/partials/footer"


    = partial "/layouts/partials/scripts"